<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nihon No Uta</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css?family=David+Libre:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Lobster:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="{% static 'home/bootstrap.min.css' %}" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="{% static 'home/all.min.css' %}" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="{% static 'home/main.css' %}" rel="stylesheet" />
<!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-music fa-3x mt-1 tm-logo" style="color: red;"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename" style="color: wheat; font-weight: bold; font-family: 'Lobster'; word-spacing: 7px;">Nihon no uta </h1>
                            <h3 class="tm-sitename text-uppercase" style="color: red;">日本の歌</h3>
                            <p class="tm-slogon" style="color: wheat; font-family: 'Architects Daughter'; word-spacing: 6px;">Demystifying Japanese Lyrics</p>
                        </div>        
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav" style="font-family: 'Architects Daughter'; color: wheat;">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{% url 'home:register' %}">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="services.html">Explore</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="contact.html">Post</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title" style="font-family: 'Architects Daughter'; color: wheat;">Purpose of this website</h2>
                        <p class="mb-5" style="font-family: 'Architects Daughter'; color: wheat;">I love anime, manga, japanese pop music and anime osts, however I struggle to understand the meaning behind the lyrics.</p>
                        <hr class="mb-5">
                        <p class="mb-5" style="font-family: 'Architects Daughter'; color: wheat;">This site is a lovely platform where people can share their knowledge of obscure anime lyrics.</p>                        
                        <a href="about.html" class="btn btn-primary">Continue...</a>
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Copyright 2020 Diagoona Co. 
                    
                    | Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-text-link">TemplateMo</a></p>
                </footer>
            </div>  
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'home/js/templatemo-script.js' %}"></script>
</body>
</html>