<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'home/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body style="background-image: url('../../static/home/img/japan_sunrise_template.jpg'); background-repeat: repeat-y; background-size: contain; background-position: center center;">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container" style="opacity: 0.75;">
                <div class="signup-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'home/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">Sign In</a> -->
                    </div>
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button" style="padding-left: 25%;">
                                <input type="submit" name="signup" id="signup" style="background-color: chartreuse; color: black; font-weight: bold; font-size: 16px; font-family: 'Dosis';" class="form-submit" value="Register"/>
                            </div>
                        </form>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'home/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    

    <!-- JS -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% js/main.js}"></script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>